#Eclipse files
.project
.classpath

#Binary directories
bin
bin-*

#Test flow files
customFlowFiles/test.lfl

#Reports
testReports

#Temporary files
*~
*.swp

#Javadoc
javadoc

#Library sources
slicksrc

#Config files that don't need to be put into the build
config.prop

#Build Directory
Believe
Believe.zip

# Gradle
gradle/.gradle/
gradle/build
gradle/.settings/**

# Bazel
bazel-*

# intellij
.idea
*.iml
