#Eclipse files
.project
.classpath

#Binary directories
bin
bin-*

#Test flow files
customFlowFiles/test.lfl

#Reports
testReports

#Temporary files
*~

#Javadoc
javadoc

#Library sources
slicksrc

#Documentation
design/nifty-gui-the-manual-1.3.2.pdf
